.container{
    width: 95%;
    height: 85vh;
}

.contact{
    width: 65%;
    margin: 5rem auto;
    border-radius: 10px;
    background-color: rgba(250,250,250,0.7);
    padding: 1rem;

    h3{
        font-size: 3.5rem;
        color: black;
        padding: 1rem;
        font-family: 'Montserrat', sans-serif;
    }

    p{
        font-size: 2rem;
        padding: 1rem;
        font-family: 'Montserrat', sans-serif;
    }

}